$orange: #ff9c4c;
$read: #ff5c5c;
$blue: #697ffe;
$main_color: #68ff9d;
$white: #fff;
$grean: #68ff9d;
$bleck: #000000;

$bg_color: #121212;
$bg_color1: #181818;
$bg_color2: #1d1d1d;
$bg_color3: #232323;
$bg_color4: #595959;

$colgroup: rgb(24, 24, 34);

$null: #ffffff00;
$null_bleck: rgba(0, 0, 0, 0.3);