@use "config";

@font-face {
    font-family: 'MyCustomFont';
    src: url('../Minecraft_1.1.ttf') format('truetype');
}

body {
    background-color: #17181f;
    font-family: 'MyCustomFont', sans-serif;
    color: config.$white;
    overflow-y: hidden;
    overflow-x: hidden;
    font-size: 15px;
}

*{
    margin: 0;
    padding: 0;
}

.ump_textw{
    position: relative;
    height: 100%;
    width: 100%;
}

.cursor{
    position: relative;
    width: 24em;
    margin: 0 auto;
    border-right: 2px config.$main_color;
    font-size: 40px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
    top: 45%;
    color: config.$main_color;
}

.typewriter-animation {
  animation: 
    typewriter 5s steps(50) 1s 1 normal both, 
    blinkingCursor 500ms steps(50) infinite normal;
}

@keyframes typewriter {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blinkingCursor{
  from { border-right-color: rgba(255,255,255,.75); }
  to { border-right-color: transparent; }
}

